$white: #fff;
$light-black: #222;
$dark-black: #090909;
$light-blue: #337ab7;

@mixin white-center {
  color: $white;
  text-align: center;
}

.bg {
  background: image-url('rsz_vintage_paris.jpg') center;
  position: absolute;
  width: 100%;
  height: 280px; /*same height as jumbotron */
  top: 50px;
  left: 0;
  z-index: -1;
}

.jumbotron {
	height: 280px;
  background:transparent;
  width: 100%;
  h1 {
	  color: $white;
    text-align: center;
	  text-shadow: #444 0 1px 1px;
  }
}

.well {
  background-color: $light-black;
  @include white-center;
}

.header {
  background-color: $light-blue;
  margin-top: 0;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  background-color: $light-black;
  .glyphicon-plus {
    color: $white;
  }
}

#new_travel_header {
  width: 260px;
}

.nav-pills {
  margin-top: 20px;
  li {
    background-color: $light-black;
    a, a:hover, a:focus {
      background-color: inherit;
      color: $white;
    }
  }
}