// 'Travel Blog' and 'Login' brands style
.navbar-brand {
	width: 15%;
	text-align: center;
	.brand {
		color: $g-white;
	}
}

#margin-off {
	margin: 0;
}

// 'List View' and 'Grid View' switchers style
ul.nav.navbar-nav {
	width: 70%;
	border-left: 1px solid $g-white;
	border-right: 1px solid $g-white;
	
	li{
		width: 50%;
		text-align: center;
		a {
			color: $white;
		}
	}
	li.active {
		a, a:hover, a:focus {
			background-color: $light-blue;
			border: 1px solid $white;
		}
	} 
}