$g-white: #F8F8FF;
$dark-grey: #A9A9A9;
$light-grey: #D3D3D3;

.navbar-brand {
	width: 15%;
	text-align: center;
}

ul.nav.navbar-nav {
	width: 70%;
	border-left: 1px solid $g-white;
	border-right: 1px solid $g-white;
	li{
		width: 50%;
		text-align: center;
	}
}

.brand {
	color: $g-white;
}

#margin-off {
	margin: 0;
}