// New travel input + button style
.btn-default, .btn-default:hover, .btn-default:focus {
  background-color: $light-black;
  .glyphicon-plus {
    color: $white;
  }
}

.new-travel-input {
  width: 80%;
}

#new_travel_header{
  width: 98%;
}

#submitTravel {
  width: 20%;
}

// Sidebar pills styling
.nav-pills {
  margin-top: 20px;
  li {
    background-color: $light-black;
    a {
      display: inline-block;
    }
    a.delete-travel {
      width: 15%;
      background-color: inherit;
      color: $white;
      text-align: center;
    }
    a.detail-travel {
      width: 85%;
      background-color: inherit;
      color: $white;
    }
    .glyphicon-remove {
      font-size: 1.1em;
    }
  }
}