// Variables and mixins available in all tree files
$white: #fff;
$g-white: #F8F8FF;

$light-black: #222;
$dark-black: #090909;

$light-blue: #337ab7;

$dark-grey: #A9A9A9;
$light-grey: #D3D3D3;

$dark-red: #a50e0e;

$light-green: #4cae4c;

@mixin white-center {
  color: $white;
  text-align: center;
}