<div class="container">
	<a class="navbar-brand navbar-left" id="margin-off" href="#"><span class="brand"><span class="glyphicon glyphicon-copyright-mark"></span>Created By Me</span></a>
	<div class="navbar-brand navbar-right" id="margin-off"><span class="brand"><span class="glyphicon glyphicon-registration-mark"></span></div>
</div>