<div class="container-fluid">
	<a class="navbar-brand" href="/"><span class="brand">Travel Blog</span></a>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">List View</a></li>
			<li><a href="/">Grid View</a></li>
		</ul>
	</div>
		<a class="navbar-brand float-right" href="/"><span class="brand">Login</span></a>
	</div>
</div>