<div class="container-fluid">
	<a class="navbar-brand" href="/"><span class="brand">Travel Blog</span></a>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">List View</a></li>
			<li><a href="/">Grid View</a></li>
			<div>Login</div>
		</ul>
		<div class="float-right">Login</div>
</div>