<form class="form-inline" id="new_travel">
  <div class="form-group">
    <input type="text" class="form-control" id="new_travel_header" placeholder="New travel here...">
  </div>
  <button type="submit" class="btn btn-default" id="submitTravel"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</form>

<ul class="nav nav-pills nav-stacked" id="travels">
	
</ul>