<div class="row">
	<div class="col-md-12">
		<h1 class="header well">{{ header }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p class="description well">{{ description }}</p>
	</div>
	<div class="col-md-6">
		<img src="{{image_src}}" alt="{{image_src}}" class="img-circle img-responsive">
	</div>
</div>